html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
  width: 100%;
  background-color: #020617;
  border-collapse: collapse;
}

th {
  background-color: #020617;
  color: #c7d2fe;
}

td {
  background-color: #020617;
  color: #e5e7eb;
}

th, td {
  border: 1px solid #1e293b;
}
